html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0rem;
    line-height: 160%;
    font-weight: 400;
    color: #545454;
}
  
h1 {
    font-size: 3.2rem;
    letter-spacing: 0.06em;
    line-height: 110%;
    font-weight: 400;
}
  
h2 {
    font-size: 4.4rem;
    letter-spacing: -0.0006em;
    line-height: 130%;
    font-weight: 400;
}
  
h3 {
    font-size: 3.5rem;
    letter-spacing: 0.06em;
    line-height: 129%;
    font-weight: 400;
}
  
h4 {
    font-size: 2rem;
    letter-spacing: 0.06em;
    line-height: 2.3rem;
    font-weight: 400;
}
  
h5 {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 110%;
    font-weight: 400;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.section-dark {
    background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}


@media only screen and (min-width: 768px) and (max-width: 1279px) {
    /*  styles for screens with a width between 768px and 1279px go here */
    
  }
  
  /* styles for screens with a maximum width of 767px */
  
  @media only screen and (max-width: 767px) {
    /* your styles for screens with a width between 320px and 767px go here */
  }
  
  /* styles for screens with a maximum width of 320px */
  
  @media only screen and (max-width: 320px) {
    /* your styles for screens with a width of 320px and below go here */
  }