    .main-footer__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16rem;
        padding-top: 4rem;
    }
    
    .main-foter_contacts {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .main-foter_contacts:last-child{
        gap: 0;
    }
    .contacts__heading {
        font-family: 'Georgia';
        font-style: normal;
        color: $color-light-xl;
    }
    
    .contacts__details {
        display: flex;
        list-style: none;
        align-items: center;
        gap: 20px;
    }
    .contacts__details:last-child{
       margin-bottom: 60px;
    }
    .contact_data {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        text-decoration: none;
    }
    
    .main-foter_locations {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .main-foter_locations:last-child {
        gap: 0px;
    }
    .locations__heading {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: $size-h3;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: $color-light-xl;
    }

    @media only screen and (min-width: 768px) and (max-width: 1279px) {
        .main-footer__content {
            gap: 6rem;
            padding-top: 3rem;
        }

        .main-footer__content:last-child {
            gap: 65px;
        }
        .main-footer__puppy{
            margin-left:auto;
            margin-right: auto;
        }
    }