.help-content {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 92px;
}

.help__heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: $size-h3;
    align-items: center;
    margin-bottom: 58px;
    letter-spacing: 0.06em;
    line-height: 130%;
}

.help__list-container {
    .help__list {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        column-gap: 120px;
        row-gap: 55px;
        .help-list__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            font-family: 'Georgia';
            font-style: normal;
            font-weight: 400;
            font-size: $size-h4;
            color: $color-dark-l;
            line-height: 115%;
            row-gap: 30px;
        }
    }
}