.start-screen__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6rem;
    margin-top: 6rem;
}

.start-screen__content {
    max-width: 46rem;
    display: flex;
    flex-direction: column;
    margin-top: 16.3rem;
    padding-right: 4.2rem;
    gap: 4.2rem;
}
.start-screen__heading {
    max-width: 31rem;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-size: $size-h2;
    margin: 0;
    color: $color-light-xl;
}

.start-screen__subheading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: $size-h5;
    color: $color-light-l;
}

.start-screen__button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.7rem;
    height: 5.2rem;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: $color-dark-3xl;
    text-align: center;
    text-decoration: none;
}

.start-screen__button-primary:hover {
    background-color: $color-primary-light;
}

@media only screen and (min-width: 767px) and (max-width: 1279px) {
    /*  styles for screens with a width between 768px and 1279px go here */
    .start-screen__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        gap: 10rem;
    }
    
    .start-screen__content {
        padding-top: 0rem;
        margin-top: 0rem;
        gap: 4.2rem;
    }
    .start-screen__puppy{
        max-width: 569px;
        max-height: 593px;
        align-self: flex-end;
    }
    .start-screen__button-primary {
        align-self: center;
    }
  }

  
